<%= simple_form_for @project do |f| %>

	<% if @project.errors.any? %>
		<h2>Errors:</h2>
		<ul>
		<% @project.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
		<% end %>
	

	<p><%= f.label :name %></p>
	<p><%= f.text_field :name %></p>
	<p><%= f.submit "Submit" %></p>

<% end %>
	

	




